.body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: uppercase;
    font-size: calc(1rem + min(40px, 50vw));
    font-weight: 900;
    letter-spacing: -.160ch;
    line-height: 0.9;
    color: rgb(255, 255, 255);
}

.interno {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 800px;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 25px;
    text-align: center;
}

.textoselect {
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

.grande {
    background-color: rgb(255, 255, 255);
    justify-items: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    margin: 30px;
}

.select {
    background-color: rgb(255, 255, 255);
    height: 200px;
    padding: 25px;
}


.selectMarcas {
    position: relative;
    font-family: Arial;
    min-width: 200px;
}
  
.selectMarcas select {
    display: none;
  }

.selectModelos {
    position: relative;
    font-family: Arial;
    min-width: 200px;
}
  
.selectModelos select {
    display: none;
  }

.selectAnos {
    position: relative;
    font-family: Arial;
    min-width: 200px;
}
  
.selectAnos select {
    display: none;
  }

.preco {
    width: 580px;
    height: 80px;
    margin: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
}

.cabecalhoInterno {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
    border-radius: 30px;
}

.voltar {
    border: solid 1px rgb(67, 67, 92);
    border-radius: 20px;
    color: rgb(67, 67, 92);
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    width: 75px;
    height: 35px;
}

.voltar:hover {
    background-color: rgb(67, 67, 92);
    color: white;
    transform: scale(1.2)
}

.titulo {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-family: monospace;
}

.botao {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;    
    border-radius: 30px;
}